.corpo {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 8% auto 0;
}

@media screen and (max-width: 600px) {
    .cabecalho {
        margin: 2em 1em;
    } 
}

@media screen and (max-width: 400px) {
    .corpo {
        width: 91%;
        margin-inline: 1em;
    }
}